@model SectionDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">All publications for section: @Model.Name</h2>

<div class="jumbotron jumbotron-fluid">

    @if (!Model.Publications.Any())
    {
        <p>No publications yet. </p>
    }

    @foreach (var publication in Model.Publications.OrderByDescending(i => i.Likes))
    {
        <p>
            <a asp-area="" asp-controller="Publications" asp-action="Details"
               asp-route-id="@publication.Id" class="col-lg-12 col-lg-offset-1">
                <i class="glyphicon glyphicon-arrow-right"></i> @publication.Title
            </a>
            <div class="text-center">by @publication.Author, 
            date: @publication.CreationDate.ToString("dd.MM.yyyy"), @publication.Likes <small> likes</small></div>
        </p>
    }

    <div class="text-center">
        <a asp-area="Identity" asp-controller="Publications" asp-action="Add" class="btn btn-primary ">
            <i class="glyphicon glyphicon-plus"></i> Create new publication
        </a>
    </div>
</div>
