@model PublicationViewModel
@{
    ViewData["Title"] = "Publication Details";
}
@using System.Globalization;

<br /><br />
<div class="container well">
    <div class="row">
        <h1 class="text-center"> @Model.Title</h1>
        <h4 class="text-center">
            <small> by </small>
            <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">  @Model.Author </a>
        </h4>
        
        <div class="list-group text-center">
            <p class="list-group-item-text ">
                @Html.Raw(@Model.Description)
            </p>
            <h4>
                <small> published in:  </small> @Model.Section <small> on:  </small>
                @Model.CreationDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
            </h4>
            <h4> @Model.Likes <small> likes </small> </h4>

            @if (this.Context.User.Identity.IsAuthenticated)
            {
                <a asp-area="Identity" asp-controller="Publications" asp-action="Like" asp-route-id="@Model.Id">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like this publication
                </a>
            }
                <br /><hr/>
            @if (this.User.IsInRole("Administrator"))
            {
                <a  class="btn btn-primary"  asp-area="Admin" asp-controller="Publications" asp-action="Edit" asp-route-id="@Model.Id">
                    Edit this publication
                </a>
            }
                <br />   <hr />
            <h4 class="text-center"><strong>Comments:</strong></h4>

            @Html.DisplayFor(m => m.Comments)


            @if (this.Context.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-area="Identity" asp-controller="Comments" asp-action="Add" asp-route-id="@Model.Id">
                    <span class="glyphicon glyphicon-plus"></span> Add your comment
                </a>
            }
        </div>
    </div>
</div>


